/* DON'T TOUCH THE CODE BELOW */

.theme-dark .button-OhfaWu, .theme-light .button-OhfaWu {
  background: var(--friends-icon) !important;
  background-position: var(--friends-icon-position) !important;
  background-repeat: no-repeat !important;
  background-size: var(--friends-icon-zoom) !important;
}

.wrapper-1Rf91z {
  width: 308px;
}

.scrollerWrap-1IAIlv {
  width: 308px;
}

.wrapper-1Rf91z .scroller-wrap {
  width: 311px;
}

.wrapper-1Rf91z .scroller-2TZvBN {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
  align-content: flex-start;
}

.wrapper-1Rf91z .scroller-2TZvBN .container-1ETFDs {
  margin-left: 8px;
  margin-top: 8px;
}

.wrapper-1Rf91z .scroller-2TZvBN .container-1ETFDs.unread-2OHH1w::before {
  left: -2px;
  top: 5px;
  z-index: 9000;
}

.wrapper-1Rf91z .scroller-2TZvBN .container-1ETFDs:first-child {
  position: relative;
  left: 0;
  margin: auto;
}

#bd-pub-li {
  position: absolute;
  top: 0px;
  left: 0px;
}

#bd-pub-li #bd-pub-button {
  position: absolute;
  width: 100%;
  text-align: center;
}

.wrapper-1Rf91z .scroller-2TZvBN .guildSeparator-3s64Iy {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.wrapper-1Rf91z .scroller-2TZvBN .friendsOnline-2JkivW {
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 5px;
}

.wrapper-1Rf91z .scroller-2TZvBN .container-1ETFDs.selected-ML3OIq:before {
  display: none;
}

.wrapper-1Rf91z .scroller-2TZvBN .container-1ETFDs {
  position: relative;
}

.wrapper-1Rf91z .scroller-2TZvBN .dms-rcsEnV {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.wrapper-1Rf91z .scroller-2TZvBN .dms-rcsEnV .container-1ETFDs {
  left: 0;
}

/*
#bd-pub-li {
  position: absolute;
  top: 90px;
  left: 35px;
}
*/

.unreadMentionsIndicatorBottom-BXS58x {
  display: none;
}

.theme-dark .unread-2OHH1w:before {
  background: var(--unread-bullet-color) !important;
  animation: var(--unread-animation) var(--unread-animation-duration) linear infinite;
}

.theme-dark .homeIcon-tEMBK1 {
  display: none;
}

.dms-rcsEnV .container-1ETFDs:first-child {
  margin: 0 !important;
  margin-left: 8px !important;
  margin-top: 8px !important;
}

.unread-2OHH1w:before {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  margin-top: -5px;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 20;
}

.wrapper-1Rf91z .scroller-2TZvBN .container-1ETFDs.unread-2OHH1w::before {
  left: 0;
}

.scroller-2TZvBN > .container-1ETFDs:nth-last-child(2) {
  margin-right: 0 !important;
}

/* extra fixes */

.container-2td-dC {
    margin-left: 8px;
    margin-right: 2px;
}

.guildsErrorContainer-2uWYsE {
  margin-right: 2px;
  margin-left: 8px;
}

.scroller-2TZvBN > div:nth-last-child(-n+2) {
  margin-right: 2px;
  margin-left: 8px;
}

.theme-dark .selected-nT-gM3:before {
  display: none;
}

.container-1aNBdK {
    margin-left: 8px;
    margin-right: 2px;
}

/* Guild listing styles */

.wrapper-1Rf91z .scroller-2TZvBN > div.listItem-2P_4kh:nth-child(1) {
    width: 100% !important;
    margin-bottom: 10px;    
}

.wrapper-1Rf91z .scroller-2TZvBN > div.listItem-2P_4kh:nth-child(1) .item-2hkk8m {
    opacity: 0 !important;
}

.wrapper-1Rf91z .scroller-2TZvBN > div:not(.listItem-2P_4kh) > div {
    width: 50px;
    margin-left: 7px;
}

.wrapper-1Rf91z .scroller-2TZvBN > div:not(.listItem-2P_4kh) > div .item-2hkk8m {
    opacity: 0 !important;
}

.wrapper-1Rf91z .scroller-2TZvBN > div:not(.listItem-2P_4kh) > div .wrapper-sa6paO {
    display: none !important;
}

.listItem-2P_4kh {
    width: auto;
    margin-left: 9px;
}

.wrapper-sa6paO {
    height: 24px;
    width: 54px;
}

.item-2hkk8m {
    background: var(--unread-bullet-color) !important;
    animation: var(--unread-animation) var(--unread-animation-duration) linear infinite;
    border-radius: inherit;
    border-radius: 100%;
    display: block;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 5px;
    left: 2px;
    /* right: 2px; */
    width: 12px;
    height: 12px !important;
    z-index: 10;
}

.pill-31IEus {
    left: 0;
    position: absolute;
    top: -6px;
}

.wrapper-1Rf91z .scroller-2TZvBN .guildSeparator-3s64Iy {
    position: relative;
    width: 100%;
    margin-top: 10px;
    width: 248px;
    display: block;
    margin: 10px auto 5px;
    margin-left: 10px;
}

.item-2hkk8m:not([style *= "height: 8px"]) {
    border-color: transparent !important;
    background-color: transparent !important;
}
.item-2hkk8m:not([style *= "opacity: 0.7"]) {
    border-color: transparent !important;
}

/* ANIMATIONS */

@keyframes none {
  
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0);
  }
}

@keyframes hue-rotate {
    0% {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }
    100% {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
}